{% extends "yearbook/base.html" %}
{% load static %}

{% block title %}Yearbook 2026 | Our Students{% endblock %}

{% block content %}
<main class="student-list">
<section class = "hero-content">
  <h1>Seniors 2026</h1>
  <p class="class-motto">“Once a Senior, always a legend”</p>

</section>
<section>
{%if student_list %}
<div class="student-gallery feature-grid">
  {% for student in student_list %}
    <div class="polaroid-card">
      <div class="polaroid-photo">
        {% if student.profile_picture %}
          <img src="{{ student.profile_picture.url }}" alt="{{ student.first_name }} {{ student.last_name }}">
        {% else %}
          <img src="{% static 'images/boy_placeholder.jpg' %}" alt="no photo">
        {% endif %}
      </div>
      <div class="polaroid-caption">
        <a href="{% url 'students' student.pk %}">
          {{ student.first_name }} {{ student.last_name }}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
  {% else %}
    <p>There are no students in the database.</p>
  {% endif %}
{% endblock %}
</section>
</main>
